/* stylelint-disable media-feature-name-allowed-list, number-max-precision */

@use "sass:math";

@import "../../../../asset/ui/src/scss/variables";

.widget-columns {
  display: flex;
  flex-direction: column;
  color: $primary;

  &__column {
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media only screen and (width >= 900px) {
    flex-direction: row;
    justify-content: space-between;
    gap: 5%;

    &__column {
      display: flex;
      flex: 1;
      flex-basis: 100%;
      flex-direction: column;

      &:not(:last-child) {
        margin: 0;
      }
    }

    &--single .widget-columns__column {
      width: 100%;
    }

    &--double .widget-columns__column {
      width: 50%;
    }

    &--triple .widget-columns__column {
      width: 33.3333%;
    }

    &--quadruple .widget-columns__column {
      width: 25%;
    }
  }
}
