.apos-palette {
  width: 360px !important;

  .apos-field.apos-field--micro.apos-field--color .apos-button.apos-button--color {
    width: 40px !important;
    height: 40px !important;
  }

  .apos-field--inline.apos-field--range .apos-field__info,
  .apos-field--inline.apos-field--range .apos-input-wrapper {
    width: 48% !important;
  }

  .apos-color__info {
    font-size: 12px !important;
    margin-left: 15px !important;
  }

  .apos-field--inline.apos-field--range .apos-field__info {
    margin-right: 4% !important;
  }

  .apos-field--inline.apos-field--range .apos-range__scale {
    margin-top: 8px !important;
  }

  .apos-field__info {
    width: 160px !important;
  }

  .apos-color__clear {
    display: none !important;
  }

  .apos-field--inline .apos-field__label {
    font-size: 12px !important;
  }

  .apos-field.apos-field--range {
    display: flex !important;
    .apos-range__value {
      min-width: 20px !important;
    }
    .apos-range__clear {
      display: none !important;
    }
  }

  .apos-range__value {
    min-width: 60px !important;
  }
}
