/* stylelint-disable media-feature-name-allowed-list */

@import "../../../../asset/ui/src/scss/variables";

.custom-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &--primary {
    color: $primary;
  }

  &--secondary {
    color: $secondary;
  }

  &--tertiary {
    color: $tertiary;
  }

  &--black {
    color: $black;
  }

  &--white {
    color: $white;
  }

  &--background {
    background-position: 50% 50%;
    background-size: cover;
    align-items: center;
    justify-content: center;
  }

  &__column-item {
    flex-basis: 50%;
  }

  @media only screen and (width >= 900px) {
    flex-direction: row;
  }
}

.widget-columns__column .custom-form__column-item {
  flex-basis: 90%;
}