/* stylelint-disable media-feature-name-allowed-list */

@import "Modules/asset/scss/variables";

.side-by-side {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__column-item {
    &.invert {
      order: 1;
    }
  }

  @media only screen and (width >= 900px) {
    flex-direction: row;

    &__column-item {
      width: 50%;
    }
  }
}
